*/node_modules/*

!/node_modules/BusService

!/node_modules/JobsService

!/node_modules/KalturaService
/node_modules/KalturaService/kaltura

!/node_modules/schemas

/consumer/services/processing-services/metadata-parser-service/standards/video-standard/1.0/services/utm-lat-lon-converter.js
